*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body{
    background-color: antiquewhite;
}
#all{
    padding: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    background-color: rgb(235, 205, 169);
    border-radius: 50px;
}
.rep{
    opacity: 0;
}
h1{
    text-align: center;
    color: rgb(235, 18, 18);
}
h2{
    text-align: center;
}
h3{
    text-align: center;
}
#flex{
    padding: 10px;
    border-radius: 10px;
}
#flex:hover{
    background-color: bisque;
    transition: 0.3s;
}
#flex:hover button{
    background-color: rgb(255, 228, 196);
}
button{
    background-color: rgb(255, 243, 228);
}
button:hover{
    cursor: pointer;
}
#button:hover{
    cursor:help;
}